<footer class="w-full border-t bg-white pb-12">
    <!-- Carousel Section -->
    <div class="relative w-full flex items-center invisible md:visible md:pb-12" x-data="getCarouselData()">
        <button class="absolute bg-blue-800 hover:bg-blue-700 text-white text-2xl font-bold hover:shadow rounded-full w-16 h-16 ml-12" x-on:click="decrement()">&#8592;</button>
        <template x-for="image in images.slice(currentIndex, currentIndex + 6)" :key="images.indexOf(image)">
            <img class="w-1/6 hover:opacity-75" :src="image">
        </template>
        <button class="absolute right-0 bg-blue-800 hover:bg-blue-700 text-white text-2xl font-bold hover:shadow rounded-full w-16 h-16 mr-12" x-on:click="increment()">&#8594;</button>
    </div>

    <div class="w-full container mx-auto flex flex-col items-center">
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
            {{ nav:collection:pages include_home="true" }}
            <a class="uppercase px-3" href="{{ url }}">{{ title }}</a>
            {{ /nav:collection:pages }}
            <a href="https://jaditi930.github.io/Image-Downloader/" class="uppercase px-3">Image-Downloader</a>
        </div>
        <div class="uppercase pb-6">&copy; {{ footer:copyright }}</div>
              <!-- Contact Information Section -->
     
         
            <!-- Disclaimer Section -->
            <div class="mb-6 md:mb-0 md:flex-1 md:flex md:flex-col md:items-cente px-5 text-center">
                <h2 class="text-lg font-semibold">Disclaimer</h2>
                <p class="text-center">{{ footer:disclaimer }}</p>
            </div>
    
    </div>
    <div class="w-full container mx-auto flex flex-col md:flex-row justify-around items-center gap-8 py-6 text-gray-700 mt-3">
        <div class="mb-6 md:mb-0">
            <h2 class="text-lg font-semibold">Address</h2>
            <p>{{ footer:address }}</p>
      
        </div>
             <!-- Contact Information Section -->
             <div class="mb-6 md:mb-0">
                <h2 class="text-lg font-semibold">Contact Information</h2>
               <p>{{ footer:contact_information }}</p>
           
                <p><a href="mailto:{{ footer:email }}" class="text-blue-600 hover:underline">
                {{ footer:email }}</a></p>
            </div>
    </div>

</footer>

<script>
    function getCarouselData() {
        return {
            currentIndex: 0,
            images: [
                {{ collection:slider }}
                {{ images }}
                    '{{ url }}',
                {{ /images }}
            {{ /collection:slider }}
            ],
            increment() {
                this.currentIndex = this.currentIndex === this.images.length - 6 ? 0 : this.currentIndex + 1;
            },
            decrement() {
                this.currentIndex = this.currentIndex === this.images.length - 6 ? 0 : this.currentIndex - 1;
            },
        }
    }
</script>