
      <!-- Posts Section -->
        <section class="w-full md:w-2/3 flex flex-col items-center px-3">
            <article class="flex flex-col shadow my-4">
                <!-- Article Image -->
                <a href="{{image}}" class="hover:opacity-75">
                    <img src="{{image}}" alt="{{image:alt}}">
                </a>
                <div class="bg-white flex flex-col justify-start p-6">
                    <a href="javascript:void(0)" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
                    <a href="javascript:void(0)" class="text-3xl font-bold hover:text-gray-700 pb-4">
                        {{title}}
                    </a>
                    <p href="javascript:void(0)" class="text-sm pb-3">
                        By <a href="javascript:void(0)" class="font-semibold hover:text-gray-800">{{author:name}}</a>, Published on
                        {{ date format="F" }} {{ date format="j" | ordinal }}, {{ date format="Y" }}
                       
                    </p>
                    <a href="javascript:void(0)" class="pb-6">    {{ content | widont }}</a>
                    <a href="javascript:void(0)" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
                </div>
            </article>
        </section>
        
           <!-- Sidebar Section -->
           {{partial:sidebar}}

    