
      <!-- Posts Section -->
      <section class="w-full md:w-2/3 flex flex-col items-center px-3">
        {{ collection:blog   paginate="2" as="posts" }}
        {{posts}}
        <article class="flex flex-col shadow my-4">
            <!-- Article Image -->
            <a href="{{ url }}" class="hover:opacity-75">
                <img src="{{image}}" alt="{{image:alt}}">
            </a>
            <div class="bg-white flex flex-col justify-start p-6">
                <div class="flex flex-wrap gap-2">
                    {{if tags}}

                        {{tags}}
                        <a href="{{ url }}" class="bg-blue-100 text-blue-700 text-sm font-bold uppercase px-2 py-1 rounded hover:bg-blue-200 transition">{{ title }}</a>

                        {{/tags}}
                    {{/if}}
            </div>
                <a href="{{ url }}" class="text-3xl font-bold hover:text-gray-700 pb-4">{{ title }}</a>
                <div class="flex items-center text-sm pb-3">
                    <img src="{{ author:avatar }}" alt="{{ author:name }}'s avatar" class="w-10 h-10 rounded-full mr-3">
                    <p>
                        By <a href="{{ url }}" class="font-semibold hover:text-gray-800">{{author:name}}</a>, Published on 
                        {{ date format="F" }} {{ date format="j" | ordinal }}, {{ date format="Y" }}
                    </p>
                </div>
                <a href="{{ url }}" class="pb-6">{{ content | widont }}</a>
                <a href="{{ url }}" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
        </article>
        {{/posts}}

        <!-- Pagination -->
        {{ paginate }}
        <div class="flex items-center py-8">
            {{ if prev_page }}
                <a href="{{ prev_page }}" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center mr-3">Prev <i class="fas fa-arrow-left ml-2"></i></a>
            {{ /if }}
                    {{ links:segments }}
                        {{ first }}
                            {{ if page == current_page }}
                                <a href="#" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center">{{ page }}</a>
                            {{ else }}
                                <a href="{{ url }}" class="h-10 w-10 font-semibold text-gray-800 hover:bg-blue-600 hover:text-white text-sm flex items-center justify-center">{{ page }}</a>
                            {{ /if }}
                        {{ /first }}
                    {{ /links:segments }}
         
            {{ if next_page }}
                 <a href="{{ next_page }}" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
            {{ /if }}
            
        </div>
            {{ current_page }} of {{ total_pages }} pages
            (There are {{ total_items }} posts)
            
        {{ /paginate }}
        {{ /collection:blog }}
        <!-- Pagination -->
    </section>

      <!-- Sidebar Section -->
      {{partial:sidebar}}